.bookingDescription {
  width: 30%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgba(73, 78, 177, 1);
}
.resourceName {
  text-align: start;
  color: rgba(73, 78, 177, 1);
}
.bookingInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bookingInfo p {
  margin: 2px;
}
.reserveBtn {
  background-color: rgba(73, 170, 177, 1) !important;
  border: 0.7px solid rgba(73, 170, 177, 1) !important;
  text-align: center !important;
}
.reserveBtn:hover {
  border: 0.7px solid rgba(73, 78, 177, 1) !important;
  background-color: rgba(233, 229, 239, 1) !important;
}

/* Tablet breakpoint */
@media (max-width: 1142px) {
  .bookingPage {
    margin: 0rem 1.5rem;
  }
  .bookingDescription .formBtn {
    min-width: 200px;
  }
}

@media (max-width: 825px) {
  .recourceImgAndDate {
    flex-wrap: wrap;
  }
  .bookingDescription {
    flex-basis: 100%; /* tar hela raden */
    gap: 1rem;
  }
  .bookingDescription p {
    width: 100%;
  }
  .bookingDescription .formBtn {
    min-width: 230px;
  }
}
