.custom-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-header {
  display: flex;
  gap: 10px;
  align-items: stretch;
  margin-bottom: 10px;
  justify-content: space-around;
  min-width: 400px;
}
.calendar-header button{
  background-color: rgba(73, 78, 177, 1);
  border: none;
  margin-top: 10px;
}
.selected-date {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color:rgba(73, 78, 177, 1);
  background-color: rgba(233, 229, 239, 1) !important;
  flex-grow: 1;
}
.calendar-popup {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 8px;
  padding: 10px;
}
.calendar-full{
  width: 100% !important;
}

@media (max-width: 610px) {
  .calendar-popup{
    width: 100% !important;
  }
  .calendar-header {
    min-width: 300px;
  }
}