.loginContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 500px; 
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: rgba(233, 229, 239, 1);
  display: flex;
}

.formHolder,
.secondaryView {
  flex: 1;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

/* Startläge: login till vänster, secondary till höger */
.formHolder {
  left: 0;
  transform: translateX(0);
  z-index: 2; /* så att formuläret ligger ovanpå secondaryView */
}

.secondaryView {
  right: 0;
  transform: translateX(0);
  z-index: 1;
}

/* När vi togglar till register */
.loginContainer.showRegister .formHolder {
  transform: translateX(100%); /* formHolder glider till höger */
  z-index: 1;
}

.loginContainer.showRegister .secondaryView {
  transform: translateX(-100%); /* secondaryView glider till vänster */
  z-index: 2;
}

.formBox {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

form input {
  width: 100%;
  box-sizing: border-box;
  padding: 0%;
  background-color: rgba(233, 229, 239, 1);
  border: 0.7px solid rgba(103, 80, 164, 1);
  border-radius: 11px;
  padding: 10px;
  margin-bottom: 20px;
  color: rgba(73, 78, 177, 1);
}

.formHeading,
form p {
  color: rgba(73, 78, 177, 1);
}

.formHeading {
  margin-bottom: 30px;
}

.formBtn,
.secondaryView button {
  all: unset;
  cursor: pointer;
  background-color: rgba(73, 78, 177, 1);
  border-radius: 24px;
  padding: 10px;
  min-width: 230px;
  text-transform: uppercase;
  font-size: 14px;
}

.secondaryView {
  background-color: rgba(73, 78, 177, 1);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondaryViewLogin {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.secondaryView h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.secondaryView button {
  border: 0.7px solid rgba(233, 229, 239, 1);
}

.formBtn {
  border: 0.7px solid rgba(73, 78, 177, 1);
}

.secondaryView button:hover {
  background-color: rgba(233, 229, 239, 1);
  color: rgba(73, 78, 177, 1);
}

.formBtn:hover {
  border: 0.7px solid rgba(73, 78, 177, 1);
  background-color: rgba(233, 229, 239, 1);
  color: rgba(73, 78, 177, 1);
}

.errorMessage {
  color: red;
}

.successMessage {
  color: rgba(73, 170, 177, 1);
}

@media (max-width: 1024px) {
  .loginContainer {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column;
    height: auto;
    box-shadow: none;
    border-radius: 0;
  }

  .formHolder,
  .secondaryView {
    position: relative;
    width: 100%;
    height: auto;
    transform: none !important;
    border-radius: 0;
  }

  .secondaryView {
    margin-top: 30px;
    padding: 20px 0px;
  }
}
