/* Container för hela profilsidan */
.profileContainer {
  margin-top: 4rem;
  color: #e9e5ef;
  min-height: 100vh;
}

/* Rubrik för profilsidan */
.profileContainer h1 {
  text-align: center;
  margin-bottom: 4rem;
}

/* sektioner i profilsidan */
.profileSections {
  display: flex;
  flex-direction: column;
}

/* rubrik för sektioner */
.profileSections h3 {
  margin-left: 20px;
}

/* bokning och redigeringssektion */
.bookingsSection,
.editProfileSection {
  background: #f1eef4; 
  color: black;
  border-radius: 0.8rem; 
}

/* tidigare bokningar */
.pastBooking {
  background-color: #f0f0f0; 
  color: #a0a0a0; 
  pointer-events: none; 
}

/* Lista över bokningar */
.bookingsSection ul {
  list-style: none; 
  padding: 0;
}

/* Individuella bokningar i listan */
.bookingsSection li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border-top: 1px solid #c0c0c0;
}

/* avbokningsknapp */
.cancelButton {
  background-color: #49AAB1;
  color: #ffffff; 
  font-weight: 600;
  font-size: 1rem;
  border: none;
  padding: .35rem 1.5rem;
  border-radius: 16px; 
  cursor: pointer;
}

/* Hover avbokningsknapp */
.cancelButton:hover {
  background-color: #358086; 
}

/* inaktiverad avbokningsknapp */
.cancelButton:disabled {
  background-color: #dcdcdc;
  cursor: not-allowed; 
}

/* redigeringsformulär */
.editProfileSection form {
  padding: 20px;
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

/* input fält */
.editProfileSection input {
  padding: .75rem;
  border: 1px solid #505050; 
  color: black;
  border-radius: 16px; 
  font-size: 1rem;
}

/* etiketter i redigeringsformulär */
.editProfileSection label {
  display: flex;
  flex-direction: column; 
  font-size: 14px;
}

/* uppdateringsknapp */
.updateButton {
  background-color: #49AAB1; 
  color: #ffffff; 
  font-size: 1rem;
  border: none;
  padding: 10px;
  border-radius: 16px; 
  cursor: pointer; 
  width: 50%; 
  align-self: center;
}

/* Hover för uppdateringsknappen */
.updateButton:hover {
  background-color: #358086; 
}

/* bilder */
img {
  width: 25%; 
  height: 100%; 
  border-radius: 12px; 
  object-fit: contain; 
}

/* Responsiv design för större skärmar */
@media screen and (min-width: 800px) {
  .profileSections {
      flex-direction: row; 
      gap: 40px; 
      justify-content: center; 
      align-items: flex-start;
  }

  .bookingsSection,
  .editProfileSection {
      flex: 1; 
      max-width: 50%; 
  }
}